# Ключ приложения Джанго
SECRET_KEY=

DEBUG

# Настройка БД
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Ключ от API Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

# Маршрут перехода при успешной оплаты
STRIPE_SUCCESS_URL=
# Маршрут перехода при отмене оплаты
STRIPE_CANCEL_URL=